$greenish-cyan: #00EEBD;
$cyan-blue-light: #173352;
$cyan-blue-dark: #0A1F35;
$bluish-grey-light: #A7B4C3;
$bluish-grey-drak: #8296AB;
$grey-light: #F5F5F5;
$grey-dark: #dbdbdb;
$white: #fff;

$gradients: (
normal: (
    #0A1F35, 
        #040D17
        ),
    light: (
        #346296, 
        #081729
        ),
    dark: (
        #071626, 
        #07162600,
        ),
);

$oxanium-font: "Oxanium", cursive;
$inter-font:"Inter", sans-serif;